
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" >
        <img src="./assets/doglivesmater.webp" alt="" width="48" height="48">
      </a>
    </div>
  </nav>
    <div class="container-fluid">
      <a class="navbar-brand" >PLM SAHİPLENDİRİCİ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active btn " aria-current="page" (click)="home()">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active btn" aria-current="page" >Türler hakkında bilgiler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active btn" aria-current="page" (click)="question()">Sorular</a>
          </li>
        </ul>
        
        <div class="d-flex   mx-3" *ngIf="!isLoggedin" >
          <button class="btn btn-outline-warning" (click)="register()" >
            
            Kayıt ol  </button>
            <button class="btn btn-outline-info mx-1 " (click)="login()" >
           
              Giriş yap</button>
        </div>
        <div class="d-flex mx-3" *ngIf="isLoggedin">
          <button class="btn btn-outline-warning" (click)="logOut()" >
            Çıkış yap   </button>
        </div>
       
        
      </div>
    </div>
  </nav>