   <div>

    <ul class="list-group">
      <li [class]="getAllAnimalTypeClass()" routerLink="/pets">Tüm Ürünler</li>
      <li (click)="setCurrentAnimalType(animalType)" 
      routerLink="pets/petsType/{{animalType.animalTypeId}}"
      *ngFor="let animalType of animalTypes"
      [class]="getCurrentAnimalTypeClass(animalType) "
      >
      {{animalType.animalTypeName}}</li>

      <!--[class]="getCurrentAnimalTypeClass(animalType) " ram hatası alıyoruz-->
      
    </ul> 
    <h5 *ngIf=" currentAnimalType">{{ currentAnimalType.animalTypeName}} seçtiniz</h5>
    
  </div>
   <!--
    <li (click)="setCurrentAnimalType(animalType)" 
      routerLink="/animals/category/{{animalType.animalTypeId}}"
      *ngFor="let animalType of animalTypes"
       [class]="getCurrentAnimalTypeClass(animalType) ">{{animalType.animalTypeName}}</li>
     --> 

 
  