<div class="list-group">
  
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true"> Kategoriler</a>
    <a href="#" class="list-group-item list-group-item-action"> Fil</a>
    <a href="#" class="list-group-item list-group-item-action">Gecko</a>
    <a href="#" class="list-group-item list-group-item-action">Kedi</a>
    
  </div>
  
<ul class="list-group">
    <li (click)="setCurrentAnimalType(animalType)" 
    routerLink="/products/category/{{animalType.animalTypeId}}"
    *ngFor="let animalType of animalTypes"
     [class]="getCurrentAnimalTypeClass(animalType) ">{{animalType.animalTypeName}}</li>
    
  </ul> 
  <h5 *ngIf=" currentAnimalType">{{ currentAnimalType.animalTypeName}} seçtiniz</h5>

 
  