<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  
<div class="row">
    <div class="col" >  <img width="100%"  src="./assets/doglivesmater.webp"></div>
    <div class="col" >  <img width="100%"  src="./assets/doglivesmater.webp"></div>
    <div class="col" >  <img width="100%"  src="./assets/doglivesmater.webp"></div>
    <div class="col" >  <img width="100%"  src="./assets/doglivesmater.webp"></div>
    <div class="col" >  <img width="100%"  src="./assets/doglivesmater.webp"></div>
 </div>
 <div class="row">
     ramazan reistir ÜSTAD
  </div>