<!--
  <div  *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
-->
<!--<div class="mb-3 ">
  <label for="filterText" class="form-label">Evcil hayvan ilanı ara</label>
  <input type="text"[(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi giriniz">
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">
  {{filterText}} aradınız.
</div>
-->
<div class="row">
  <div class="mb-3 " >
    <button type="button" class="btn btn-primary rounded mx-2 my-2 col-md-2" (click)="rotatingAdvertisiment()" data-toggle="modal" data-target="#operationAddModel"
    >İlan ekle</button> 
    
  </div>
</div>

<table class="table caption-top">
  <caption>İLAN LİSTELERİ</caption>
  <thead>
    <tr>
      <th scope="col">Pet</th>
      <th scope="col"> Pet Adı</th>
      <th scope="col"> Pet Türü</th>
      <th scope="col">Pet Cinsiyeti</th>
      <th scope="col">Petin Yaşı</th>
      <th scope="col">Adress</th>
      
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let animal of Animals">
      <th scope="row">{{animal.animalId}}</th>
      <td>{{animal.animalName}}</td>
      <td>{{animalTypes.get(animal.animalTypeId)}} </td>
      <td>{{animal.animalGender}}</td>
      <td>{{animal.animalAge}}</td>
      <td>{{animal.address}}</td>
    </tr>

  </tbody>
</table>
  




  